<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>com.vtubeleaf.desktop.camera</string>
<key>CFBundleExecutable</key><string>VTubeLeafCamera</string>
<key>CFBundleName</key><string>VTubeLeaf Camera</string>
<key>CFBundlePackageType</key><string>SYSX</string>
<key>CFBundleShortVersionString</key><string>0.1.0</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>NSSystemExtensionUsageDescription</key><string>将 VTubeLeaf 角色画布作为虚拟摄像头提供给会议软件。</string>
<key>CMIOExtension</key><dict><key>CMIOExtensionMachServiceName</key><string>UNSIGNED.com.vtubeleaf.desktop.camera</string></dict>
<key>CameraTeamIdentifier</key><string>UNSIGNED</string>
</dict></plist>
